---
title: Home Loans
layout: layouts/base.njk
permalink: /home-loans/
eleventyNavigation:
  key: Home Loans
  order: 0
---

<ul>
     {% for item in home.items %}
     <li class="flex mx-auto justify-between mb-4 product-data">
     <h2>{{ item.name }}</h2>
     <a class="bg-blue font-bold product-button sca-monetised-link sca-table-clk" href="{{ item.link }}">Go to Site</a>
     </li>
     {% endfor %}
</ul>
